#site-navigation {
	position: absolute;
	z-index: 9999;
	width: 100%;
	border-top: rem-calc(20) solid $white;
	img {
		width: rem-calc(100);
		@include breakpoint(medium) {
			width: rem-calc(150);
		}
		@include breakpoint(large) {
			width: rem-calc(180);
		}
	}
	.home {
		a {
			height: auto;
			padding: 0;
		}
	}
	a {
		color: $white;
		&:hover {
			background: none;
			opacity: 0.7;
		}
		i {
			&.fa-caret-down {
				margin-left: rem-calc(2);
			}
		    margin-right: rem-calc(-3);
			margin-left: rem-calc(-3);
		}
	}
	i {
		font-size: rem-calc(20);
	}
	li {
		border-right: none;
	}
	.top-bar .menu > li:not(.menu-text) > a {
		padding: 2rem 1rem!important;
	}
	.is-dropdown-submenu-item {
		text-align: right;
		a {
			padding: 0.2rem 0.5rem!important;
			height: rem-calc(20);
		}
	}
	.desktop-menu, .top-bar-left {
		display: block!important;
	}
	.top-bar-left li a {
		&:hover {
			opacity: 1;
		}
	}
}
.top-bar .menu > li:not(.menu-text) > a {
	padding: 2rem 0.5rem;
}
.mast {
	margin-bottom: rem-calc(100);
	box-shadow: 0px 10px 15px rgba(0,0,0,0.25);
	.align-middle {
		height: rem-calc(320);
	}
	&.homepage {
		box-shadow: none;
		.align-middle {
			height: rem-calc(300);
			@include breakpoint(medium) {
				height: rem-calc(450);
			}
		}
	}
	&.blue {
		height: rem-calc(240);
		box-shadow: none;
		background: $amerihealth-blue;
		margin-bottom: rem-calc(50);
	}
	&.posting {
		height: rem-calc(240);
		box-shadow: none;
		background: $amerihealth-red;
	}
	h1 {
		color: $white;
		font-weight: bold;
		line-height: rem-calc(24);
		@include breakpoint(medium) {
			line-height: rem-calc(48);
		}
		letter-spacing: rem-calc(3.43);
		text-transform: uppercase;
		margin-top: rem-calc(70);
	}
}
a {
	transition: all ease 0.3s;
	&:hover {
		transition: all ease 0.3s;
	}
}
.relative {
	position: relative;
}
h4 {
	color: $amerihealth-blue;
}
.cta {
	.align-middle {
		height: rem-calc(380);
	}
	h3, p {
		color: $white;
	}
	h3 {
		margin-bottom: rem-calc(30);
	}
	p {
		font-weight: 300;
		margin-bottom: rem-calc(40);
	}
	.button {
		background: $white;
		color: $amerihealth-blue;
		font-weight: bold;
		font-size: rem-calc(14);
		transition: 0.3s all ease;
		&:hover {
			opacity: 0.7;
		}
		i {
			margin-right: rem-calc(10);
		}
	}
}