footer {
	background: $amerihealth-blue;
	padding: rem-calc(50) 0;
	color: $amerihealth-light-blue;
	p {
		margin-bottom: 0;
	}
	.social {
		text-align: center;
		@include breakpoint(medium) {
			text-align: left;
		}
		p {
			margin-bottom: rem-calc(15);
			@include breakpoint(medium) {
				margin-bottom: rem-calc(40);
			}
			font-weight: bold;
			color: $white;
		}
		a {
			margin: 0 rem-calc(6);
			@include breakpoint(medium) {
				margin: 0 rem-calc(10) 0 0;
			}
			font-size: rem-calc(24);
			color: $white;
		}
		i {
			transition: all ease 0.3s;
			&:hover {
				opacity: 0.7;
				transition: all ease 0.3s;
			}
		}
	}
	.button {
		background: none;
		padding-left: rem-calc(50);
		padding-right: rem-calc(50);
		border: 1px solid $amerihealth-light-blue;
		color: $amerihealth-light-blue;
		font-weight: bold;
		margin: rem-calc(30) 10% 0;
		position: relative;
		&:hover {
			background: $white;
			color: $amerihealth-dark-blue;
			border: 1px solid $white;
		}
		i {
			font-size: rem-calc(20);
			position: absolute;
			right: rem-calc(20);
			bottom: rem-calc(14);
		}
	}
	img	{
		width: 75%;
	}
}
#post-footer {
	background: #D8D8D8;
	padding: rem-calc(10) 0;
	p {
		margin-bottom: 0;
		font-size: rem-calc(12);
	}
}